@media (max-width: 1400px) {
    .hero__content-title {
        font-size: 80px;
    }

    .hero__content-text {
        font-size: 26px;
        line-height: 32px;
    }

    /*-------------SLIDER----------------------*/
    .slider-text {
        font-size: 32px;
        line-height: 38px;
        max-width: 1100px;
    }

    /*----------------VALUES---------------------*/
    .values__container {
        grid-template-columns: 460px 1fr;
        gap: 28px;
    }

    .values__main-card h2 {
        font-size: 64px;
        line-height: 70px;
    }

    .value-card__text {
        font-size: 28px;
        line-height: 32px;
    }

    .values__heart {
        position: absolute;
        top: -120px;
        right: -90px;
        width: 247px;
        pointer-events: none;
        z-index: 10;
    }

    /*--------------STATS--------------*/
    .stats__container {
        grid-template-columns: 460px 1fr;
    }

    .stats__title h2 {
        font-size: 64px;
    }

    .stats-card__number {
        font-size: 48px;
    }

    /*--------------------PHOTOS-------------------*/
    .photos-grid {
        gap: 50px;
    }
    .photo:nth-child(even) {
        margin-top: 150px;
    }

    /*--------------------CTA-------------------*/

    .cta-title {
        font-size: 72px;
    }

    .how-study {
        padding: 100px 0;
    }

    .how-study .title {
        font-size: 64px;
        margin-bottom: 48px;
    }

    .step-card {
        min-height: 420px;
    }

    .step-card__title {
        font-size: 28px;
        line-height: 32px;
    }

    /*----------------------------------------NEWS----------------------------------------*/
    .news__grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .news__title {
        font-size: 36px;
    }
}

@media (max-width: 1200px) {
    .nav__menu a {
        font-size: 16px;
        padding: 8px 12px;
    }

    .btn-login,
    .lang-select__btn {
        font-size: 16px;
        padding: 10px 16px;
    }

    .header-container {
        padding: 0 20px;
    }

    /*----------------HERO-----------------*/
    .hero__content-title {
        font-size: 64px;
    }

    .hero__content-text {
        font-size: 22px;
        line-height: 30px;
    }

    .hero__content {
        max-width: 760px;
    }

    /*----------SLIDER--------------------------*/
    .slider-row {
        height: 200px;
    }

    .slider-row img {
        width: 300px;
        height: 200px;
    }

    .slider-text {
        font-size: 28px;
        line-height: 34px;
        padding: 36px;
        max-width: 90%;
    }


    /*-------------values------------------------------*/
    .values {
        padding: 80px 10px;
    }

    .values__container {
        grid-template-columns: 420px 1fr;
    }

    .values__main-card h2 {
        font-size: 56px;
        line-height: 62px;
        margin: 36px 0 0 36px;
    }

    .value-card {
        min-height: 260px;
        padding: 28px;
    }

    .value-card__text {
        font-size: 24px;
        line-height: 30px;
    }

    .values__heart {
        width: 220px;
        top: -100px;
        right: -70px;
    }

    /*----------------------STATS-------------------------*/

    .stats {
        padding: 100px 10px;
    }

    .stats__container {
        grid-template-columns: 420px 1fr;
        gap: 10px;
    }

    .stats-card {
        padding: 30px;
    }

    .stats-card__text {
        font-size: 18px;
    }

    /*---------------PHOTOS-SECTION----------------------------*/

    .photos-section {
        padding: 100px 0;
    }
    .photos-grid {
        gap: 60px;
    }
    .photo:nth-child(even) {
        margin-top: 300px;
    }
    .photos-overlay__content {
        padding: 50px 20px;
        max-width: 600px;
    }
    .photos-overlay__title {
        font-size: 32px;
    }
    .photos-overlay__text {
        font-size: 16px;
    }


    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .step-card {
        padding: 28px;
        min-height: 380px;
    }

    .step-card__img {
        width: 160px;
        max-height: 190px;
    }

    .step-card .num {
        font-size: 52px;
    }

    /*------------------------------------------------NEWS-----------------------------------------*/
    .news__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .news {
        padding: 70px 20px;
    }
}

@media (max-width: 992px) {
    .burger {
        display: flex;
        z-index: 1101;
    }

    .nav {
        position: fixed;
            top: 0;
            left: -100%;

            width: 100%;
            max-width: 360px;
            height: 100vh;

            background: #0F0F0F;
            padding: 90px 20px 24px;

            display: flex;
            flex-direction: column;
            gap: 24px;

            transition: left 0.35s ease;
            z-index: 1100;
    }

    .nav.active {
        left: 0;
    }

    .nav__menu {
        flex-direction: column;
        gap: 16px;
    }

    .nav__menu a {
        font-size: 20px;
        padding: 12px 0;
    }

    /*-----------HERO-----------------*/

    .hero {
        padding-top: 80px;
    }

    .hero__content-title {
        font-size: 48px;
    }

    .hero__content-text {
        font-size: 20px;
        line-height: 28px;
    }

    /*SLIDER-SECTION*/

    .slider-row {
        height: 170px;
    }

    .slider-row img {
        width: 260px;
        height: 170px;
        border-radius: 16px;
    }

    .slider-text {
        font-size: 22px;
        line-height: 28px;
        padding: 28px;
        border-radius: 24px;
    }

    .gradient-left,
    .gradient-right {
        width: 120px;
    }

    /* ------------------ values----------------------- */
    .values__container {
        grid-template-columns: 1fr;
    }

    .values__main-card {
        max-width: 100%;
    }

    .values__main-card h2 {
        font-size: 48px;
        line-height: 54px;
    }

    .values__grid {
        grid-template-columns: 1fr 1fr;
    }

    .values__heart {
        position: absolute;
        top: -60px;
        right: -40px;
        width: 180px;
    }

    /*  ------------------stats------------------  */
    .stats__container {
        grid-template-columns: 1fr;
    }

    .stats__title {
        text-align: center;
        margin-bottom: 40px;
    }

    .stats__title h2 {
        font-size: 56px;
    }

    .stats__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .stats__wave {
        top: 5%;
        opacity: 0.6;
    }

    /*---------------------------PHOTOS-SECTION---------------------------------*/
    .photos-grid {
        grid-template-columns: 1fr;
        gap: 40px;
        width: 100%;
        padding: 0 16px;
        /*box-sizing: border-box;*/
    }

    .photo:nth-child(even) {
        margin-top: 0;
    }

    .photo {
        height: 300px;
        width: 100%;
        border-radius: 24px;
        /*box-shadow: 0 10px 30px rgba(0,0,0,0.1);*/
    }
    .photos-overlay {
        position: relative;
        height: auto;
        opacity: 1;
        visibility: visible;
        margin-bottom: 40px;
    }


    .photos-overlay__content {
        width: 90%;
        max-width: 400px;
        padding: 30px 20px;
        background: rgba(243, 243, 243, 0.9);
        backdrop-filter: blur(5px);

        border-radius: 20px;
    }

    .photos-overlay__title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .photos-overlay__text {
        font-size: 16px;
        line-height: 1.4;
    }

    /*CTA-----------------------------*/
    .cta-section {
        padding: 120px 0;
    }

    .cta-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 40px;
    }

    .cta-image-wrapper {
        justify-content: center;
    }

    .cta-image {
        position: relative;
        right: auto;
        bottom: auto;
        max-width: 360px;
    }


    .how-study {
        padding: 90px 0;
    }

    .how-study .title {
        font-size: 56px;
        text-align: center;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .step-card {
        min-height: 360px;
    }

    .step-card__title {
        font-size: 26px;
    }

    .step-card__text {
        font-size: 17px;
    }

    .step-card__img {
        width: 140px;
    }

    .step-card .num {
        font-size: 48px;
    }

    /*---------------------------------------------------------NEWS------------------------------------*/
    .news__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .news-card {
        min-height: 360px;
    }

    .news__title {
        font-size: 32px;
        margin-bottom: 40px;
    }
}


@media (max-width: 576px) {

    .header {
        height: 64px;
    }

    .header-container {
        padding: 0 16px;
    }

    .btn-login span {
        display: none;
    }

    .btn-login {
        padding: 10px;
        border-radius: 50%;
    }

    .lang-select__btn {
        padding: 10px 14px;
        font-size: 14px;
    }

    .insta img {
        width: 26px;
        height: 26px;
    }

    .hero {
        padding: 90px 16px 32px;
    }

    .hero__content-title {
        font-size: 34px;
        line-height: 1.2;
        margin-bottom: 16px;
    }

    .hero__content-text {
        font-size: 16px;
        line-height: 24px;
    }

    .hero__content {
        max-width: 100%;
    }


    /*---------------VALUES-----------------------*/
    .values {
        padding: 60px 10px;
    }

    .values__main-card h2 {
        font-size: 36px;
        line-height: 40px;
        margin: 24px;
    }

    .values__grid {
        grid-template-columns: 1fr;
    }

    .value-card {
        min-height: auto;
        padding: 24px;
    }

    .value-card__text {
        font-size: 20px;
        line-height: 26px;
        max-width: 90%;
    }


    /*----------STATS----------------*/
    .stats {
        padding: 80px 0;
    }

    .stats__container {
        padding: 0 16px;
        gap: 32px;
    }

    .stats__title h2 {
        font-size: 32px;
        line-height: 36px;
    }

    .stats__grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .stats-card {
        padding: 24px;
        border-radius: 24px;
    }

    .stats-card__number {
        font-size: 32px;
    }

    .stats-card__text {
        font-size: 16px;
    }

    /* Убираем волну — она мешает UX */
    .stats__wave {
        /*display: none;*/
    }

    /*-------------PHOTOS--------------------------*/
    /*.photos-grid {*/
    /*    gap: 12px;*/
    /*}*/

    /*.photo {*/
    /*    height: 160px;
    /*    border-radius: 16px;*/
    /*}*/

    /*.photo:nth-child(even) {*/
    /*    margin-top: 60px;
    /*}*/

    /*.photos-overlay__content {*/
    /*    padding: 24px 16px;*/
    /*    width: 90%;*/
    /*}*/

    /*CTA-----------------------------------------*/
    .cta-section {
        padding: 80px 0;
    }

    .cta-container {
        padding: 32px 24px;
        border-radius: 32px;
    }

    .cta-title {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 24px;
    }

    .cta-btn {
        width: 100%;
        justify-content: center;
        padding: 16px;
        font-size: 16px;
    }

    .cta-image {
        max-width: 260px;
        display: none;
    }


    .how-study {
        padding: 70px 0;
    }

    .how-study .title {
        font-size: 40px;
        margin-bottom: 36px;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .step-card {
        min-height: auto;
        padding: 24px;
    }

    .step-card__title {
        font-size: 22px;
        line-height: 26px;
    }

    .step-card__text {
        font-size: 16px;
    }

    .step-card__img {
        position: static;
        width: 120px;
        max-height: none;
        margin-top: 20px;
        align-self: flex-end;
    }

    .step-card .num {
        position: static;
        font-size: 36px;
        margin-top: 12px;
        color: #C0C0C0;
    }

    /*----------------------------------------------NEWS-----------------------------------------------*/
    .news__grid {
        grid-template-columns: 1fr;
    }

    .news-card {
        min-height: auto;
        padding: 20px;
        border-radius: 24px;
    }

    .news-card__title {
        font-size: 20px;
    }

    .news-card__desc {
        font-size: 16px;
    }

    .news-card__btn {
        font-size: 16px;
        padding: 14px 0;
    }

    .news__more-btn {
        width: 100%;
        max-width: 320px;
        text-align: center;
    }
}
