* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SF Pro Display", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 70px;

    background: linear-gradient(180deg, rgba(15, 15, 15, 0.9) 0%, rgba(15, 15, 15, 0) 100%);
    backdrop-filter: blur(0px);


    display: flex;
    align-items: center;
    z-index: 1000;
}

.header-container {
    width: 1680px;
    margin: 0 auto;
    /*padding: 0 30px;*/

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------ Navigation Menu ------------ */

.nav__menu {
    display: flex;
    gap: 4px;
    list-style: none;
    padding: 0;
}

.nav__menu-a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    transition: opacity 0.2s;
    padding: 8px 16px;
}

.nav__menu a:hover {
    opacity: 0.7;
}

/* ------------ Actions ------------ */

.nav__actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* ------------ Button: Login ------------ */

.btn-login {
    display: flex;
    align-items: center;

    padding: 12px 20px;
    background: #1842F0;
    border-radius: 60px;
    border: none;

    font-weight: 500;
    font-size: 18px;
    gap: 8px;
    color: white;
    cursor: pointer;
}

.btn-login__img{
    width: 17px;
    height: 19px;
}

/* ------------ Language Selector ------------ */

.lang-select {
    position: relative;
}

.lang-select__btn {
    padding: 12px 20px;
    border-radius: 60px;
    border: 1px solid #E4E4E4;

    font-weight: 500;
    font-size: 18px;
    background: white;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;
}

.lang-select__list {
    display: none;

    position: absolute;
    top: 42px;
    right: 0;

    background: white;
    border-radius: 10px;
    padding: 10px 0;

    list-style: none;
    margin: 0;

    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.lang-select__list li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.lang-select__list li:hover {
    background: #f0f0f0;
}

.lang-select.open .lang-select__list {
    display: block;
}

/* ------------ Instagram Icon ------------ */

.insta img {
    width: 32px;
    height: 32px;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* занимает полный экран */
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -2;
}

.hero__overlay {
    position: absolute;
    inset: 0;
    background: #1842F0B2; /* синее затемнение как в макете */
    z-index: -1;
}


.hero__content {
    position: relative;
    max-width: 940px;
    color: #fff;
}

.hero__content-title{
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 24px;
}

.hero__content-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
}

/* адаптив */
@media (max-width: 768px) {
    .hero__content-title {
        font-size: 36px;
    }

    .hero__content-text {
        font-size: 18px;
    }
}
